body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: #402E7A;
  background-color: #4B70F5;
  color: #fff;
  font-size: 1.5rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 2rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #3DC2EC;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}