.gamescreen {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-rows: minmax(150px, 1fr);
  gap: 10px;
}

.show-all .card p{
  animation: show-all 4s;
}

.hide-card{
  animation: hide-card 0.5s;

  && p {
    opacity: 1;
    animation: fade-out 0.5s ease-in;
  }
}

@keyframes show-all {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes hide-card{
  from {
    transform: rotateY(0deg);
  }

  to{
    transform: rotateY(180deg);
  }
  
}